<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile List</title>
</head>
<body>
    <h1>Profile List</h1>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Email</th>
                <th>Action</th>
                <th>Single PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profile_list %}
            <tr>
                <td>{{ profile.name }}</td>
                <td>{{ profile.age }}</td>
                <td>{{ profile.gender }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.email }}</td>
                <td><a href="{% url 'generate_profile_pdf' profile.id %}">Generate PDF</a></td>
                <td><a href="{% url 'single_profile_pdf' profile.id %}">Generate Single PDF</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'generate_all_profiles_pdf' %}">Generate All Profiles PDF</a><br/>
    <a href="{% url 'all_profiles_pdf' %}">Generate All Profiles PDF (WeasyPrint)</a>
</body>
</html>